html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.novel_editor_box{
    width:100%;
    height:100%;
    background: url(../image/novel_paper_bg.png) no-repeat;
    background-size: 100% 100%;
	overflow:hidden;
}
.editor_wrap{
	height:100%;
	width:100%;
	box-sizing:border-box;
	padding:20px 18px 30px 18px;
}
.editor_wrap .novel_editor{
    background: transparent;
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
    outline:none;
    line-height: 25px;
    color: rgba(0,0,0,0.85);
    fill: rgba(0,0,0,0.85);
    font-size: 15px;
    font-family: '黑体',sans-serif;
}
.bottom_bar{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 30px;
}
.word_counter_wrap {
	font-family: '微软雅黑',sans-serif;
    font-size: 12px;
    font-weight: 400;
	line-height: 30px;
    position: absolute;
    top: 0px;
    right: 0.6rem;
    color: rgba(0,0,0,0.5);
    display: block;
}